<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="/assets/css/vendor.min.css" rel="stylesheet"/>
    <link href="/assets/css/app.min.css" rel="stylesheet"/>
	<link href="/assets/favicon.ico" rel="icon"/>
	<link rel="manifest" href="/assets/manifest.json" />
	<title>{{ title }}</title>
  </head>
  <body>
	<div id="app" class="app app-boxed-layout">
		<div id="header" class="app-header">
			<div class="desktop-toggler">
				<button type="button" class="menu-toggler">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</button>
			</div>
			<div class="mobile-toggler">
				<button type="button" class="menu-toggler">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</button>
			</div>

			<div class="brand">
				<a href="/" class="brand-logo">
					<span class="brand-img">
						<span class="brand-img-text text-theme" style="font-size:0.9em;">TD</span>
					</span>
					<span class="brand-text">TO-DO List</span>
				</a>
			</div>

			<div class="menu"></div>
		</div>


		<div id="sidebar" class="app-sidebar">

			<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">

				<div class="menu">
					<div class="menu-header">Navigation</div>
					<div class="menu-item">
						<a href="/" class="menu-link">
							<span class="menu-icon"><i class="bi bi-cpu"></i></span>
							<span class="menu-text">О проекте</span>
						</a>
					</div>
					<div class="menu-item">
						<a href="/todo" class="menu-link">
							<span class="menu-icon"><i class="bi bi-bar-chart"></i></span>
							<span class="menu-text">Мои дела</span>
						</a>
					</div>
				</div>

				<div class="p-3 px-4 mt-auto">
					<a href="/disclaimer" class="btn d-block btn-outline-theme">
						<i class="fa fa-code-branch me-2 ms-n2 opacity-5"></i> Disclaimer
					</a>
				</div>
			</div>

		</div>

		<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>

		<div id="content" class="app-content">

            {{> page-content}}

		</div>

		<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
	</div>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const wrapper = document.getElementById('app');
			document.querySelector('.desktop-toggler .menu-toggler').addEventListener('click', () => {
				if (wrapper.classList.contains('app-sidebar-collapsed'))
				{
					wrapper.classList.remove('app-sidebar-collapsed');
					wrapper.classList.add('app-sidebar-toggled');
				}
				else
				{
					wrapper.classList.add('app-sidebar-collapsed');
					wrapper.classList.remove('app-sidebar-toggled');
				}
			});

			document.querySelector('.mobile-toggler .menu-toggler').addEventListener('click', (e) => {
				e.stopPropagation();
				wrapper.classList.add('app-sidebar-mobile-toggled');
				document.body.addEventListener('click', () => {
					wrapper.classList.remove('app-sidebar-mobile-toggled');
				}, {once: true});
			});
		})
	</script>
  </body>
</html>