{{#> index}}
    {{#*inline "page-content"}}
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="layout_starter.html#">LAYOUT</a></li>
            <li class="breadcrumb-item active">STARTER PAGE</li>
        </ul>
        {{{ content }}}
    {{/inline}}
{{/index}}